.new_category_outer { padding: 10px; border-radius:5px; }
.btncancel { display: inline-block;  line-height: 20px; border-left: 1px solid; padding: 5px; font-size: 14px; }
/*.newartbtn {  position: absolute; right: 5px; top: 25%; }*/