.userscontent{background-color: #f9f9f9;border-bottom: 1px #dadfe3 solid;}
.usersnav li {margin: 0 2px;}
.usersnav li a {color:#757575;}
.usersnav li:hover a,.usersnav li a.active {background-color:#3f51b5 !important;color:#ffffff !important;border-radius: 4px !important;cursor: pointer;}
.userdropdw{display:none;}
.userdropdw .btn{padding: 9px 30px;background-color: #3f51b5;border-color: #3f51b5;}
i.icon {font-size: 22px;}
.adduser {float: right;padding: 10px;}
.uname .avatar{vertical-align: middle;}
.modal-body.form-row{margin-right:auto !important;margin-left:auto !important;}
.avatar-upload { position: relative; max-width: 130px; margin: 0 0 20px 0; }
.avatar-edit { position: absolute; right: 12px; z-index: 1; top: 0px; }
.avatar-upload input { display: none; }
.avatar-upload input + label { display: inline-block; width: 34px; height: 34px; border-radius: 100%; background: #FFFFFF; border: 1px solid transparent; box-shadow:0px 0px 0px 2px #6c757d26;; cursor: pointer;  transition: all .2s ease-in-out;  z-index: 1; }
.avatar-upload input + label i { position: absolute; top: 10px; left: 0; right: 0; text-align: center; margin: auto; }        
.avatar-preview { width: 100%; height: 130px; position: relative; border-radius: 100%; border: 5px solid #F8F8F8; box-shadow: 0px 0px 0px 2px #6c757d26; }
.avatar-preview > div { width: 100%; height: 100%; border-radius: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; }
#imagePreview img{ width: 100%; height: 100%; border-radius: 100%; }
.img-caption { position: absolute; left: 0; padding: 10px; width: 100%; top: auto; bottom: 0; opacity: 0; transform: translateY(100%);    transition: transform .4s,opacity .1s .3s; }
.avatar-upload:hover{ cursor: pointer; }
.avatar-upload:hover .img-caption { opacity: 1; transform: translateY(0); transition: transform .4s,opacity .1s; }
.avatar-edit input + label:hover { background: #f1f1f1; border-color: #d6d6d6; }
/* search button */
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 2px 15px 2px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 232px;
	background-color: #fff;
	border-color: #3f51b5;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-1 input[type=search] ,#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-1 input[type=search]:hover ,#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-1 input[type=search]:focus ,#demo-2 input[type=search]:focus {
	width: 232px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-1 input:-moz-placeholder ,#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-1 input::-webkit-input-placeholder,#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
.topTblContent .btncenter.col-sm-12.col-12{float:none;}
.modalht{height:auto !important;}
.invalid{color:red;}
.nopad{padding:0;}
.panel-title{padding:5px 20px;}
.panel-body{padding: 10px 30px;}
.back{background: #f9f9f9}
.p-15.sidebar{background:#fff; padding-bottom:25px !important;}
.plr-5{padding:0 10px;}
.fs-18{font-size:18px;}
.pl-18{padding-left:18px;}
.fs-13{font-size:13px; color:#1e1a1a87;}
.md-filter-list:before { font-weight: bold;font-size: 20px;}
.main-avatar{width:60px !important;height:40px !important;}
.userphone{display:block;}
#examplePanel .panel-actions{right: 6px !important;}
.paginationctrl{display:inline-block;}
.nopad a{text-decoration:none;}
.md-delete{margin-left:13px;}
span.usertype.pd-5 {padding: 3px;}
#examplePanel .panel-title{height:40px;}
h3.pageTitle {margin: auto;margin-top: 8px;}
.panelHeader{margin-bottom: 5px !important;}
form#demo-1 {margin-bottom: auto;margin-top: 3px;}
.usersnav a {margin-top: 3px;}
.example img {margin-bottom: auto;margin-top: 3px;}
.userdropdw i.icon.md-filter-list {padding: 11px 9px;}
#demo-2{display:none;}
.dropdown-menu.show{transform: translate3d(-96px, 30px, 0px) !important;}
.paginationControl {position: absolute;bottom: 0;width: 100%;z-index: 1000;}
.profcontent {margin-bottom: 60px !important;}
@media screen and (max-width:767px){.email{display:none;} .usertitle{text-align:center;} .usersnav{display:none;} .userdropdw{display:inline-block;float:right; margin-top: 12px;} .avatar-upload {margin: 0 auto 20px auto;} .adduser{margin-top: 1px;} #demo-2 input[type=search]{width: 60%;display: inline-block;margin: 10px 0;} #demo-2 input[type=search]:focus {width: 60%;} .usertype {font-size: 12px;color: gray;display: block;} .username {display: inline-block;} .uname .avatar{vertical-align: unset;} .example img {margin-bottom: auto;} #examplePanel .panel-title {display: inline-block !important;} #examplePanel .panel-actions {float: right;display: inline-block;padding: 8px 6px;} .mob-in{display:inline} .md-delete{margin-left:auto;}  .main-avatar{width: 36px !important;height: 36px !important;} form#demo-2 {display: inline;}}
@media screen and (min-width:768px) and (max-width:980px){.usersnav li a {padding: 10px 8px;}}
@media screen and (max-width:479px){.username{display:block;font-size: 12px;} .uname {text-align: center;} .uname img{margin-right:auto !important;} #examplePanel .panel-body{text-align:center;} .pd-5{padding-top:5px;display: block;}}

