<div class="headertitle p-10">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 col-sm-12">
				<div class="copyright pull-left">
					<span>&copy;<span> Copy Right 2018</span></span>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="pwrdby text-right">
					<span>Powered By <a href="http://www.mstindia.com" style="color:#c9dc41"> Mascot Software Technologies.pvt.ltd. </a></span>
				</div>
			</div>
		</div>	
	</div>
</div>